force-app/main/default/flows/Before_updating_an_Opportunity_create_a_Platform_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_Approval_Process_User_to_Queue</name>
        <label>Update Approval Process User to Queue</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>PNNL_ApprovalProcessUpdateToQueueHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Triggering_Field_to_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>tmpObjectIDs</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>If_Approval_Process_Queue_Update_Needed</name>
        <label>If Approval Process Queue Update Needed</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>platform_event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_True_Trigger_Apex</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trigger_Approval_Process_Queue_Update__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approval_Process_User_to_Queue</targetReference>
            </connector>
            <label>If True Trigger Apex</label>
        </rules>
    </decisions>
    <description>A Platform Event is created before each opportunity is created or updated.
Before creating or updating an Opportunity, create a Platform Event.</description>
    <environments>Default</environments>
    <formulas>
        <name>Event_Type</name>
        <dataType>String</dataType>
        <expression>IF(ISNEW(), &apos;Create&apos;, &apos;Update&apos;)</expression>
    </formulas>
    <interviewLabel>Before creating an Opportunity, create a Platform Event. {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before creating or updating an Opportunity, create a Platform Event.</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Insert platform event records.</description>
        <name>platform_event</name>
        <label>Platform Event(||s|)</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>ObjectType__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UpdateType__c</field>
            <value>
                <elementReference>Event_Type</elementReference>
            </value>
        </inputAssignments>
        <object>PNNL_Data_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Triggering_Field_to_False</name>
        <label>Set Triggering Field to False</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>platform_event</targetReference>
        </connector>
        <inputAssignments>
            <field>Trigger_Approval_Process_Queue_Update__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Approval_Process_Queue_Update_Needed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
