force-app/main/default/flows/BO_Directorate_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>BO_Directorate_Decision</name>
        <label>BO Directorate Decision</label>
        <locationX>1096</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EBSD_PCSD_Queue_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alpha_Code2__r.Business_Office_Directorate_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EBSD/PCSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EBSD_Queue</targetReference>
            </connector>
            <label>EBSD/PCSD Queue Assignment</label>
        </rules>
        <rules>
            <name>NSD_Queue_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alpha_Code2__r.Business_Office_Directorate_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NSD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NSD_Queue</targetReference>
            </connector>
            <label>NSD Queue Assignment</label>
        </rules>
        <rules>
            <name>EED_Queue_Assignment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Alpha_Code2__r.Business_Office_Directorate_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EED_Queue</targetReference>
            </connector>
            <label>EED Queue Assignment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BO Directorate Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BO Directorate Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EBSD_Task_to_Queue</name>
        <label>Create EBSD Task to Queue</label>
        <locationX>585</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A Work Authorization has been created and is ready for Budget &amp; Reporting Entries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_EBSD_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Required: Work Authorization Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_EED_Task_to_Queue</name>
        <label>Create EED Task to Queue</label>
        <locationX>1107</locationX>
        <locationY>721</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A Work Authorization has been created and is ready for Budget &amp; Reporting Entries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_EED_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Required: Work Authorization Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_NSD_Task_to_Queue</name>
        <label>Create NSD Task to Queue</label>
        <locationX>1629</locationX>
        <locationY>381</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A Work Authorization has been created and is ready for Budget &amp; Reporting Entries</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_NSD_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Required: Work Authorization Created</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_EBSD_Queue</name>
        <label>Get EBSD Queue</label>
        <locationX>825</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_EBSD_Task_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EBSDQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EED_Queue</name>
        <label>Get EED Queue</label>
        <locationX>1102</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_EED_Task_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EEDQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_NSD_Queue</name>
        <label>Get NSD Queue</label>
        <locationX>1376</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_NSD_Task_to_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NSDQueueName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>BO_Directorate_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Work Authorization Breakdown</stringValue>
            </value>
        </filters>
        <object>Funding_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EBSDQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EBSD_PCSD_Business_Office_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>EEDQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>EED_Business_Office_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>NSDQueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>NSD_Business_Office_Queue</stringValue>
        </value>
    </variables>
</Flow>
