force-app/main/default/flows/Budget_and_Reporting_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_New_Values</name>
        <label>Assign New Values</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NewCodeCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetRecordsThatAreRelatedToBNRCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCountForPriorCode</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetPriorOpptyNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_BR_Count</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Budget and Reporting - Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget and Reporting - Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPriorOpptyNumber</name>
        <label>GetPriorOpptyNumber</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_New_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNNL_Budget_Reporting_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PNNL_Budget_Reporting_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordsThatAreRelatedToBNRCode</name>
        <label>GetRecordsThatAreRelatedToBNRCode</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriorOpptyNumber</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNNL_Budget_Reporting_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PNNL_Budget_Reporting_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_New_BR_Count</name>
        <label>Update New BR Count</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Prior_Budget_and_Reporting_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PNNL_Budget_Reporting_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Opportunities__c</field>
            <value>
                <elementReference>NewCodeCount</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Reporting_Code__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Prior_Budget_and_Reporting_Code</name>
        <label>Update Prior Budget and Reporting Code</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.PNNL_Budget_Reporting_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_Of_Opportunities__c</field>
            <value>
                <elementReference>NewCountForPriorCode</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Reporting_Code__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordsThatAreRelatedToBNRCode</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PNNL_Budget_Reporting_Number__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewCodeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewCountForPriorCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
