force-app/main/default/flows/Budget_and_Reporting_Budget_and_Reporting_Entries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignNewCountValues</name>
        <label>AssignNewCountValues</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NewEntryRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetNewEntryRecordCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorEntryCodeRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetPriorEntryRecordCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateBudgetandReportingCodeCount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Budget and Reporting - Budget and Reporting Entries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget and Reporting - Budget and Reporting Entries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNewEntryRecordCount</name>
        <label>GetNewEntryRecordCount</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriorEntryRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Reporting_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget_Reporting_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Reporting_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriorEntryRecordCount</name>
        <label>GetPriorEntryRecordCount</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewCountValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Reporting_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Budget_Reporting_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Budget_Reporting_Entry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBudgetandReportingCodeCount</name>
        <label>UpdateBudgetandReportingCodeCount</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>UpdatePriorCodeRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget_Reporting_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_B_R_Entries__c</field>
            <value>
                <elementReference>NewEntryRecordCount</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Reporting_Code__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePriorCodeRecordCount</name>
        <label>UpdatePriorCodeRecordCount</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Budget_Reporting_Code__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_B_R_Entries__c</field>
            <value>
                <elementReference>PriorEntryCodeRecordCount</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Reporting_Code__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNewEntryRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Reporting_Code__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Budget_Reporting_Entry__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewEntryRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PriorEntryCodeRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
