force-app/main/default/flows/Budget_and_Reporting_PNNL_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignNewRecordCounts</name>
        <label>AssignNewRecordCounts</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NewContractCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetNewContractCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PriorContractRecordCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetPriorCodeRecordCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateNewBudgetandReportingContractCount</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Budget and Reporting - PNNL Contract {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget and Reporting - PNNL Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetNewContractCount</name>
        <label>GetNewContractCount</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPriorCodeRecordCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Reporting_Code2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget_Reporting_Code2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PNNL_Contracts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPriorCodeRecordCount</name>
        <label>GetPriorCodeRecordCount</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignNewRecordCounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Reporting_Code2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Budget_Reporting_Code2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PNNL_Contracts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateNewBudgetandReportingContractCount</name>
        <label>UpdateNewBudgetandReportingContractCount</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>UpdatePriorCodeContractCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Budget_Reporting_Code2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_PNNL_Contracts__c</field>
            <value>
                <elementReference>NewContractCount</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Reporting_Code__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePriorCodeContractCount</name>
        <label>UpdatePriorCodeContractCount</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Budget_Reporting_Code2__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Number_of_PNNL_Contracts__c</field>
            <value>
                <elementReference>PriorContractRecordCount</elementReference>
            </value>
        </inputAssignments>
        <object>Budget_Reporting_Code__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetNewContractCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Budget_Reporting_Code2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>PNNL_Contracts__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PriorContractRecordCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
