force-app/main/default/flows/Convert_to_FWP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenNewRecord</name>
        <label>OpenNewRecord</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>c:OpenOpportunity</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordToClone.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignRecordValues_withParent</name>
        <label>AssignRecordValues</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>RecordToClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Amendment_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AmendmentCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Revison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordToClone.Revised_Total__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Parent_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecords.Parent_Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.FWP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOppRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Convert to FWP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert to FWP</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOppRecord</name>
        <label>CreateOppRecord</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>OpenNewRecord</targetReference>
        </connector>
        <inputReference>RecordToClone</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAllRelatedOpptyRecords</name>
        <label>GetAllRelatedOpptyRecords</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordValues_withParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecords.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Amendment_Number__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecords</name>
        <label>GetRecords</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllRelatedOpptyRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AmendmentCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OpportunityIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordToClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
