force-app/main/default/flows/Generate_Cost_Sheet_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Cost_Sheet_Rollup</name>
        <label>Generate Cost Sheet Rollup</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <actionName>PNNL_GenerateCostSheetRollup</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>optyIds</name>
            <value>
                <elementReference>OpptyIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignOpptyIds</name>
        <label>AssignOpptyIds</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>OpptyIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Generate_Cost_Sheet_Rollup</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Generate Cost Sheet Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Cost Sheet Rollup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AssignOpptyIds</targetReference>
        </connector>
        <object>OpportunityLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpptyIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
