force-app/main/default/flows/PNNL_PCAS_Signing_Ceremony_View_Only.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignPNSOCopy</name>
        <label>assignPNSOCopy</label>
        <locationX>667</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Signing_Ceremony_Copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSigningCeremonyCMT.PNSO_Contracting_Officer_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Signing_Ceremony_from_CMT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>nonNPSO_ContractingOffice</name>
        <label>nonNPSO_ContractingOffice</label>
        <locationX>931</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Signing_Ceremony_Copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSigningCeremonyCMT.Signing_Ceremony_Copy_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Signing_Ceremony_from_CMT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_PNSO_Contracting_Officer</name>
        <label>is PNSO Contracting Officer</label>
        <locationX>799</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>nonNPSO_ContractingOffice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPNSO_ContractngOfficer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PNSO_Contracting_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPNSOCopy</targetReference>
            </connector>
            <label>isPNSO_ContractngOfficer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PNNL PCAS Signing Ceremony View Only {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNNL PCAS Signing Ceremony View Only</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getApprovalRequest</name>
        <label>getApprovalRequest</label>
        <locationX>799</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSigningCeremonyCMT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceWorkitem</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets the Custom Metadata type</description>
        <name>getSigningCeremonyCMT</name>
        <label>getSigningCeremony</label>
        <locationX>799</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_PNSO_Contracting_Officer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Process_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApprovalRequest.ProcessInstance.ProcessDefinition.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approval_Process_Signing_Ceremony__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Signing_Ceremony_from_CMT</name>
        <label>Signing Ceremony from CMT</label>
        <locationX>803</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>content</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Signing Ceremony Acknowledgement &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SigningCeremonyCMTCopy</name>
            <fieldText>&lt;p&gt;{!var_Signing_Ceremony_Copy}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Approve</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>673</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>getApprovalRequest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalRequestRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>ProposalType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessInstanceWorkitem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_actorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ProcessInstanceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>holds signing ceremony copy to display</description>
        <name>var_Signing_Ceremony_Copy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
