force-app/main/default/flows/PNNL_Signing_Ceremony.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assignPNSOCopy</name>
        <label>assignPNSOCopy</label>
        <locationX>667</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Signing_Ceremony_Copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSigningCeremonyCMT.PNSO_Contracting_Officer_Copy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Signing_Ceremony_from_CMT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>nonNPSO_ContractingOffice</name>
        <label>nonNPSO_ContractingOffice</label>
        <locationX>931</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_Signing_Ceremony_Copy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getSigningCeremonyCMT.Signing_Ceremony_Copy_Long__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Signing_Ceremony_from_CMT</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_PNSO_Contracting_Officer</name>
        <label>is PNSO Contracting Officer</label>
        <locationX>799</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>nonNPSO_ContractingOffice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isPNSO_ContractngOfficer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.PNSO_Contracting_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignPNSOCopy</targetReference>
            </connector>
            <label>isPNSO_ContractngOfficer</label>
        </rules>
    </decisions>
    <description>This verbiage will be shown on the approval tab for Oppty, Work Auth, Funding and Crada. ***Note it has been scaled to be used for any future approval processes</description>
    <environments>Default</environments>
    <interviewLabel>PNNL Signing Ceremony {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PNNL Signing Ceremony</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getProcessInstance</name>
        <label>getProcessInstance</label>
        <locationX>799</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSigningCeremonyCMT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>gets the Custom Metadata type</description>
        <name>getSigningCeremonyCMT</name>
        <label>getSigningCeremony</label>
        <locationX>799</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_PNSO_Contracting_Officer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Process_Dev_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProcessInstance.ProcessDefinition.DeveloperName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Approval_Process_Signing_Ceremony__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Signing_Ceremony_from_CMT</name>
        <label>Signing Ceremony from CMT</label>
        <locationX>803</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <fields>
            <name>content</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Signing Ceremony Acknowledgement &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getProcessInstance.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Pending</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SigningCeremonyCMTCopy</name>
            <fieldText>&lt;p&gt;{!var_Signing_Ceremony_Copy}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Approve</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>673</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>getProcessInstance</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>holds signing ceremony copy to display</description>
        <name>var_Signing_Ceremony_Copy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
