force-app/main/default/flows/Project_Closeout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>CloseoutDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Project Closeout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Closeout</label>
    <loops>
        <name>Loop_all_Contracts</name>
        <label>Loop all Contracts</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <collectionReference>GetRelatedPNNLContracts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_to_Status_to_Vaulted</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetProjects</name>
        <label>GetProjects</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Project_to_Pending_Close</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedPNNLContracts</name>
        <label>GetRelatedPNNLContracts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProjects.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PNNL_Contracts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_to_Pending_Close</name>
        <label>Update Project to Pending Close</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>GetRelatedPNNLContracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProjects.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Status__c</field>
            <value>
                <stringValue>Pending Close</stringValue>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Status_to_Vaulted</name>
        <label>Update to Status to Vaulted</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Loop_all_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_all_Contracts.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Close_Out_Date__c</field>
            <value>
                <elementReference>CloseoutDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Status__c</field>
            <value>
                <stringValue>Vaulted</stringValue>
            </value>
        </inputAssignments>
        <object>PNNL_Contracts__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProjects</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>PendingClose</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Pending Close</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
