force-app/main/default/flows/Project_Email_Notification_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailNotice</name>
        <label>SendEmailNotice</label>
        <locationX>264</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!Loop_Through_Project.Name} is scheduled to close in 90 days. Please review the record for any closing actions needed. Record Id is  {!Loop_Through_Project.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Loop_Through_Project.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Loop_Through_Project.Name} is scheduled to close 90 days from today.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendEmailNotice30Days</name>
        <label>SendEmailNotice30Days</label>
        <locationX>792</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!Loop_Through_Project.Name} is set to close in 90 days. Please review the record for any closing actions needed. Record Id is  {!Loop_Through_Project.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Loop_Through_Project.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Loop_Through_Project.Name} is set to close 90 days from today.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendSixtyDayEmailNotice</name>
        <label>SendSixtyDayEmailNotice</label>
        <locationX>528</locationX>
        <locationY>756</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_Project</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>{!Loop_Through_Project.Name} is scheduled to close in 60 days. Please review the record for any closing actions needed. Record Id is  {!Loop_Through_Project.Id}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>EmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>Loop_Through_Project.Owner:User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Loop_Through_Project.Name} is scheduled to close 60 days from today.</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignEmailCollection</name>
        <label>AssignEmailCollection</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Contract_Specialist2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Manager3__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Coordinators__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Management_Office_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailNotice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailCollection30</name>
        <label>AssignEmailCollection30</label>
        <locationX>792</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Contract_Specialist2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Manager3__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Coordinators__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Management_Office_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailNotice30Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignEmailCollection60</name>
        <label>AssignEmailCollection60</label>
        <locationX>528</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Contract_Specialist2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Manager3__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Coordinators__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Project.Opportunity__r.Project_Management_Office_Email_Address__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendSixtyDayEmailNotice</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Ninety</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Ninety Days</stringValue>
        </value>
    </constants>
    <constants>
        <name>Sixty</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sixty Days</stringValue>
        </value>
    </constants>
    <constants>
        <name>Thirty</name>
        <dataType>String</dataType>
        <value>
            <stringValue>30 Days</stringValue>
        </value>
    </constants>
    <decisions>
        <name>CloseDateDecision</name>
        <label>CloseDateDecision</label>
        <locationX>660</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NinetyDaysNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Project.Close_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NinetyDaysFromToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailCollection</targetReference>
            </connector>
            <label>NinetyDaysNotice</label>
        </rules>
        <rules>
            <name>SixtyDaysNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Project.Close_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SixtyDaysFromToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailCollection60</targetReference>
            </connector>
            <label>SixtyDaysNotice</label>
        </rules>
        <rules>
            <name>ThirtyDaysNotice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Project.Close_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ThirtyDaysFromToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignEmailCollection30</targetReference>
            </connector>
            <label>ThirtyDaysNotice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NinetyDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>Today()+90</expression>
    </formulas>
    <formulas>
        <name>SixtyDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>Today()+60</expression>
    </formulas>
    <formulas>
        <name>ThirtyDaysFromToday</name>
        <dataType>Date</dataType>
        <expression>Today()+30</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Project Email Notification Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Email Notification Flow</label>
    <loops>
        <name>Loop_Through_Project</name>
        <label>Loop Through Project</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Get_Project_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CloseDateDecision</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project_Records</name>
        <label>Get Project Records</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Close_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>NinetyDaysFromToday</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Project_Records</targetReference>
        </connector>
        <object>Project__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
