force-app/main/default/flows/Revise_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_Attachment</name>
        <label>Copy Attachment</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <actionName>PNNL_CopyAttachment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opptyIds</name>
            <value>
                <elementReference>OpportunityIdList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open</name>
        <label>OpenNewRecord</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>c:OpenOpportunity</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordToClone.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignIdsToList</name>
        <label>AssignIdsToList</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>OpportunityIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordToClone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordValues</name>
        <label>AssignRecordValues</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>RecordToClone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue />
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Revison__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunityRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Revise Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revise Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpportunityRecord</name>
        <label>CreateOpportunityRecord</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>AssignIdsToList</targetReference>
        </connector>
        <inputReference>RecordToClone</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetRecords</name>
        <label>GetRecords</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRecordValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordToClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
