force-app/main/default/flows/Revise_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_Attachment</name>
        <label>Copy Attachment</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <actionName>PNNL_CopyAttachment</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Open</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opptyIds</name>
            <value>
                <elementReference>OpportunityIdList</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Open</name>
        <label>OpenNewRecord</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>c:OpenOpportunity</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordToClone.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignIdsToList</name>
        <label>AssignIdsToList</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>OpportunityIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RecordToClone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DOEIWO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordValuesForNewOppty</name>
        <label>AssignRecordValues</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordToClone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Revison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisionCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunityRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRecordValuesForRevision</name>
        <label>AssignRecordValues</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RecordToClone.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecords</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Revison__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RevisionCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Proposal Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordToClone.Is_Locked__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateOpportunityRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRevisionCount</name>
        <label>AssignRevisionCount</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RevisionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAllRelatedOpptyRecords.Revison__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecordValuesForNewOppty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_AssignRevisionCount</name>
        <label>Copy 1 of AssignRevisionCount</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>RevisionCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAllChildRecords.Revison__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRecordValuesForRevision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Opportunity_Parent</name>
        <label>Check Opportunity Parent</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetAllChildRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Parent</defaultConnectorLabel>
        <rules>
            <name>OpportunityHasParent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRecords.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAllRelatedOpptyRecords</targetReference>
            </connector>
            <label>OpportunityHasParent</label>
        </rules>
    </decisions>
    <decisions>
        <name>DOEIWO</name>
        <label>DOEIWO</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Open</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISDOEIWO</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>RecordToClone.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DOE Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordToClone.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IWO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Attachment</targetReference>
            </connector>
            <label>ISDOEIWO</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Revise Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Revise Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateOpportunityRecord</name>
        <label>CreateOpportunityRecord</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>AssignIdsToList</targetReference>
        </connector>
        <inputReference>RecordToClone</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAllChildRecords</name>
        <label>Get All Child Records</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_AssignRevisionCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amendment_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecords.Amendment_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Revison__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllRelatedOpptyRecords</name>
        <label>GetAllRelatedOpptyRecords</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignRevisionCount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecords.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Amendment_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecords.Amendment_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Revison__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecords</name>
        <label>GetRecords</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Opportunity_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecords</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordToClone</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RevisionCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
