force-app/main/default/flows/Screen_Send_Cost_Sheet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>FormulaCostSheetNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Cost_Sheet_Number_Text})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>FormulaRevisionNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!Cost_Sheet_Revision_Text})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Send Cost Sheet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Send Cost Sheet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Platform_Event</name>
        <label>Create Platform Event</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Cost_Sheet</targetReference>
        </connector>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <stringValue>Send Cost Sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_No__c</field>
            <value>
                <elementReference>FormulaCostSheetNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cost_Sheet_Rev_No__c</field>
            <value>
                <elementReference>FormulaRevisionNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectType__c</field>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordId__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>PNNL_Data_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Cost_Sheet</name>
        <label>Cost Sheet</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://pnnl--uat.sandbox.file.force.com/sfc/servlet.shepherd/version/download/0683R000000sWC3?asPdf=false&amp;amp;operationContext=CHATTER&quot; alt=&quot;company_logo_348910.png&quot;&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(131, 131, 131); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Cost Sheet Number {!Cost_Sheet_Number_Text}, Revision {!Cost_Sheet_Revision_Text} has been attached&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cost_Sheet_Inputs</name>
        <label>Cost Sheet Inputs</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Platform_Event</targetReference>
        </connector>
        <fields>
            <name>Cost_Sheet_Number_Text</name>
            <dataType>String</dataType>
            <fieldText>Cost Sheet Numbr</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Input value must be a number.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Cost_Sheet_Number_Text},&quot;^[0-9]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Cost_Sheet_Revision_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>0</stringValue>
            </defaultValue>
            <fieldText>Cost Sheet Revision</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Input value must be a number.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Cost_Sheet_Revision_Text},&quot;^[0-9]*$&quot;)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cost_Sheet_Inputs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
