force-app/main/default/flows/Upload_Work_Authorization_Attachments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Attachment_Id</name>
        <label>assign Attachment Id</label>
        <locationX>419</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>Work_Auth_Attachment.AttachmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_funding_action_attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_attachment_Ids</name>
        <label>Attachment Ids</label>
        <locationX>208</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Attachment_Name</name>
        <label>Attachment Name</label>
        <locationX>713</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>Work_Auth_Attachment.Attachment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Auth_Attachment.Attachment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Work_Auth_Attachment.Work_Authorization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkAuthorizationRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Work_Auth_Attachment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Auth_Attachment.Attachment_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Funding_Action_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Funding_Attachment</name>
        <label>Funding Attachment</label>
        <locationX>303</locationX>
        <locationY>133</locationY>
        <assignmentItems>
            <assignToReference>WorkAuthorizationRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Pick_Attachment_Type</targetReference>
        </connector>
    </assignments>
    <description>This flow was copied from the upload funding action attachment and modified for use on the work authorizations</description>
    <environments>Default</environments>
    <formulas>
        <name>WorkAuthorizationAttachmentName</name>
        <dataType>String</dataType>
        <expression>{!Work_Auth_Attachment.Name}</expression>
    </formulas>
    <interviewLabel>Upload Work Authorization Attachments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Work Authorization Attachments</label>
    <loops>
        <name>loop_Content_Document_Ids</name>
        <label>loop Content Document Ids</label>
        <locationX>418</locationX>
        <locationY>335</locationY>
        <collectionReference>Content_Document_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_attachment_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Attachment_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Funding_Action_Attachment</name>
        <label>Funding Action Attachment</label>
        <locationX>713</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>Screen_with_File_Upload_Component</targetReference>
        </connector>
        <inputReference>Work_Auth_Attachment</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>update_funding_action_attachment</name>
        <label>update funding action attachment</label>
        <locationX>715</locationX>
        <locationY>547</locationY>
        <inputReference>Work_Auth_Attachment</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>screen_debug_content_document_Id</name>
        <label>debug content document id</label>
        <locationX>568</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>temp_test_content_document_Id</name>
            <fieldText>&lt;p&gt;Content Document ID : {!Content_Document_ID}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_debug_current_item_loop_content_ids</name>
        <label>debug current item loop content ids</label>
        <locationX>97</locationX>
        <locationY>298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_debug_content_document_Ids</name>
            <fieldText>&lt;p&gt;Current Content Document Id (attachment Id): {!loop_Content_Document_Ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Pick_Attachment_Type</name>
        <label>Pick Attachment Type</label>
        <locationX>564</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_Attachment_Name</targetReference>
        </connector>
        <fields>
            <name>Work_Authorization_Id</name>
            <fieldText>&lt;p&gt;Work Authorization Id: {!WorkAuthorizationRecord.Id}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>Work_Auth_Attachment.Attachment_Type__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_with_File_Upload_Component</name>
        <label>Screen with File Upload</label>
        <locationX>560</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_Content_Document_Ids</targetReference>
        </connector>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Attachment Here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .png, .pdf, .xls, .xlsx, .docx, .doc, .msg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Content_Document_Ids</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Work_Auth_Attachment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>File_Format_OutPut</assignToReference>
                <name>accept</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Content_Document_Ids</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>File_Upload_Label.Name</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Finish Upload</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assign_Funding_Attachment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Content_Document_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the upload file Content Document Id (we can have multiple Ids)</description>
        <name>Content_Document_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the new Opportunity Record Id.</description>
        <name>File_Format_OutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop element to store single Opportunity Product</description>
        <name>File_Upload_Label</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <description>To store the Parent object Record Id to which we need to upload the file.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Work_Auth_Attachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Work_Authorization_Attachment__c</objectType>
    </variables>
    <variables>
        <name>WorkAuthorizationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Funding_Agreement__c</objectType>
    </variables>
</Flow>
