force-app/main/default/flows/Upload_Attachment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Attachment_Id</name>
        <label>assign Attachment Id</label>
        <locationX>418</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>opportunity_Attachment.AttachmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_opportunity_attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_attachment_Ids</name>
        <label>Attachment Ids</label>
        <locationX>208</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Attachment_Name</name>
        <label>Attachment Name</label>
        <locationX>713</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>opportunity_Attachment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Opportunity_Attachment_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Opportunity_Attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_opportunity</name>
        <label>Opportunity</label>
        <locationX>415</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>opportunity_Attachment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity_Attachment.Funding_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_record_type_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_Pick_Funding_and_Attachment_Type</targetReference>
        </connector>
    </assignments>
    <description>Upload attachment to custom object opportunity_attachment__c for use in Opportunity Record Page to allow for Attachment Types picklist dependent on Funding Type (Record Type)</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_Opportunity_Attachment_Name</name>
        <dataType>String</dataType>
        <expression>TEXT({!opportunity_Attachment.Funding_Type__c}) + &quot; : &quot; + TEXT({!opportunity_Attachment.Attachment_Type__c})</expression>
    </formulas>
    <formulas>
        <name>formula_record_type_name</name>
        <dataType>String</dataType>
        <expression>{!opportunity_record.RecordType.Name}</expression>
    </formulas>
    <interviewLabel>Upload Attachment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Opportunity Attachment</label>
    <loops>
        <name>loop_Content_Document_Ids</name>
        <label>loop Content Document Ids</label>
        <locationX>418</locationX>
        <locationY>335</locationY>
        <collectionReference>Content_Document_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_attachment_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Attachment_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Opportunity_Attachment</name>
        <label>Opportunity Attachment</label>
        <locationX>713</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Screen_with_File_Upload_Component</targetReference>
        </connector>
        <inputReference>opportunity_Attachment</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>update_opportunity_attachment</name>
        <label>update opportunity attachment</label>
        <locationX>715</locationX>
        <locationY>547</locationY>
        <inputReference>opportunity_Attachment</inputReference>
    </recordUpdates>
    <screens>
        <name>screen_debug_content_document_Id</name>
        <label>debug content document id</label>
        <locationX>568</locationX>
        <locationY>624</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>temp_test_content_document_Id</name>
            <fieldText>&lt;p&gt;Content Document ID : {!Content_Document_ID}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_debug_current_item_loop_content_ids</name>
        <label>debug current item loop content ids</label>
        <locationX>94</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_debug_content_document_Ids</name>
            <fieldText>&lt;p&gt;Current Content Document Id (attachment Id): {!loop_Content_Document_Ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Pick_Funding_and_Attachment_Type</name>
        <label>Pick Funding and Attachment Type</label>
        <locationX>563</locationX>
        <locationY>172</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_Attachment_Name</targetReference>
        </connector>
        <fields>
            <name>display_opportunity_id</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity ID:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!opportunity_record.Id}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>opportunity_record.Id</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>display_funding_type</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Funding Type:&lt;/strong&gt; {!opportunity_Attachment.Funding_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>opportunity_Attachment.Funding_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>opportunity_Attachment.Attachment_Type__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_with_File_Upload_Component</name>
        <label>Screen with File Upload</label>
        <locationX>561</locationX>
        <locationY>335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_Content_Document_Ids</targetReference>
        </connector>
        <fields>
            <name>display_Sponsor_and_Attachment_Type</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Opportunity Record Type Name: {!formula_record_type_name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Opportunity Record TypeID: {!opportunity_record.RecordTypeId}&lt;/p&gt;&lt;p&gt;Funding Type:  {!opportunity_Attachment.Funding_Type__c}&lt;/p&gt;&lt;p&gt;Attachment Type: {!opportunity_Attachment.Attachment_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Attachment Here</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .png, .pdf, .xls, .xlsx</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Content_Document_Ids</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>opportunity_Attachment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>File_Format_OutPut</assignToReference>
                <name>accept</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Content_Document_Ids</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>File_Upload_Label.Name</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Finish Upload</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assign_opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Content_Document_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the upload file Content Document Id (we can have multiple Ids)</description>
        <name>Content_Document_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the new Opportunity Record Id.</description>
        <name>File_Format_OutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop element to store single Opportunity Product</description>
        <name>File_Upload_Label</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunity_Attachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Attachment__c</objectType>
    </variables>
    <variables>
        <name>opportunity_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>To store the Parent object Record Id to which we need to upload the file.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
