force-app/main/default/flows/Upload_Attachment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Attachment_Id</name>
        <label>assign Attachment Id</label>
        <locationX>669</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>opportunity_Attachment.AttachmentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Content_Document_ID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_opportunity_attachment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_attachment_Ids</name>
        <label>Attachment Ids</label>
        <locationX>1027</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>Content_Document_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_opportunity</name>
        <label>Opportunity</label>
        <locationX>447</locationX>
        <locationY>349</locationY>
        <assignmentItems>
            <assignToReference>opportunity_Attachment.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_Opportunity_Attachment</targetReference>
        </connector>
    </assignments>
    <description>Upload attachment to custom object opportunity_attachment__c for use in Opportunity Record Page to allow for Attachment Types picklist dependent on Funding Type (Record Type)</description>
    <environments>Default</environments>
    <interviewLabel>Upload Attachment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Upload Attachment</label>
    <loops>
        <name>loop_Content_Document_Ids</name>
        <label>loop Content Document Ids</label>
        <locationX>861</locationX>
        <locationY>502</locationY>
        <collectionReference>Content_Document_Ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_attachment_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Attachment_Id</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_Opportunity_Attachment</name>
        <label>Opportunity Attachment</label>
        <locationX>586</locationX>
        <locationY>349</locationY>
        <connector>
            <targetReference>Screen_with_File_Upload_Component</targetReference>
        </connector>
        <inputReference>opportunity_Attachment</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>update_opportunity_attachment</name>
        <label>update opportunity attachment</label>
        <locationX>525</locationX>
        <locationY>507</locationY>
        <inputReference>opportunity_Attachment</inputReference>
    </recordUpdates>
    <screens>
        <name>debug_current_item_loop_content_ids</name>
        <label>debug current item loop content ids</label>
        <locationX>974</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>display_debug_content_document_Ids</name>
            <fieldText>&lt;p&gt;Current Content Document Id (attachment Id): {!loop_Content_Document_Ids}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_debug_content_document_Id</name>
        <label>debug content document id</label>
        <locationX>728</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>temp_test_content_document_Id</name>
            <fieldText>&lt;p&gt;Content Document ID : {!Content_Document_ID}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_Pick_Funding_and_Attachment_Type</name>
        <label>Pick Funding and Attachment Type</label>
        <locationX>584</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>assign_opportunity</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>opportunity_Attachment.Funding_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>opportunity_Attachment.Attachment_Type__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_with_File_Upload_Component</name>
        <label>Screen with File Upload</label>
        <locationX>729</locationX>
        <locationY>349</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>loop_Content_Document_Ids</targetReference>
        </connector>
        <fields>
            <name>display_Sponsor_and_Attachment_Type</name>
            <fieldText>&lt;p&gt;Funding Type: {!opportunity_Attachment.Funding_Type__c}&lt;/p&gt;&lt;p&gt;Attachment Type:{!opportunity_Attachment.Attachment_Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Upload_File</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Label</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.jpg, .png, .pdf, .xls</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>Content_Document_Ids</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>opportunity_Attachment.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>File_Format_OutPut</assignToReference>
                <name>accept</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Content_Document_Ids</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>File_Upload_Label.Name</assignToReference>
                <name>label</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>screen_Pick_Funding_and_Attachment_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Content_Document_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the upload file Content Document Id (we can have multiple Ids)</description>
        <name>Content_Document_Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>To store the new Opportunity Record Id.</description>
        <name>File_Format_OutPut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop element to store single Opportunity Product</description>
        <name>File_Upload_Label</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>opportunity_Attachment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity_Attachment__c</objectType>
    </variables>
    <variables>
        <description>To store the Parent object Record Id to which we need to upload the file.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
