force-app/main/default/flows/Work_Authorization_Hard_Gates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>IsEmailAssignment</name>
        <label>IsEmailAssignment</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>IsEmailType</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAtAttchmentRecords</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IsWADocumentAssignment</name>
        <label>IsWADocumentAssignment</label>
        <locationX>534</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>IsWADocument</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAtAttchmentRecords</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Attachmenttype</name>
        <label>Attachmenttype</label>
        <locationX>534</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>LoopAtAttchmentRecords</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEmail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAtAttchmentRecords.Attachment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Incoming WAS Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsEmailAssignment</targetReference>
            </connector>
            <label>IsEmail</label>
        </rules>
        <rules>
            <name>IsWorkAttachment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopAtAttchmentRecords.Attachment_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Work Authorization Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsWADocumentAssignment</targetReference>
            </connector>
            <label>IsWorkAttachment</label>
        </rules>
    </decisions>
    <decisions>
        <name>CanSubmitForApproval</name>
        <label>CanSubmitForApproval</label>
        <locationX>182</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>CannotApprove</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasAttachments</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsEmailType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsWorkAttachment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCanApprove</targetReference>
            </connector>
            <label>HasAttachments</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Work Authorization Hard Gates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Work Authorization Hard Gates</label>
    <loops>
        <name>LoopAtAttchmentRecords</name>
        <label>LoopAtAttchmentRecords</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <collectionReference>GetAttachmentRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Attachmenttype</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CanSubmitForApproval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAttachmentRecords</name>
        <label>GetAttachmentRecords</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAtAttchmentRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Authorization__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Work_Authorization_Attachment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CannotApprove</name>
        <label>CannotApprove</label>
        <locationX>314</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>CanSubmitForApproval__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCanApprove</name>
        <label>UpdateCanApprove</label>
        <locationX>50</locationX>
        <locationY>1103</locationY>
        <inputAssignments>
            <field>CanSubmitForApproval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetAttachmentRecords</targetReference>
        </connector>
        <object>Funding_Agreement__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>IsEmailType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsWADocument</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
